{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h3 class="text-center"><strong>Bienvenue sur la page d'accueil des étudiants</strong></h3>
  <p class="lead text-center">Sur cette page, vous pouvez voir les projets et devoirs qui vous sont assignés et les
    télécharger pour les réaliser. Vous pouvez également soumettre votre travail et voir les avis/notes de vos
    instructeurs.</p>
    <a href="" class="btn btn-warning btn-sm">Modifier</a>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Liste des projets/devoirs assignés</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Matière</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr>
              <td>{{ project.title }}</td>
              <td>{{ project.subject }}</td>
              <td>{{ project.get_status_display }}</td>
              <td>
                <a href="{{ project.file.url }}" class="btn btn-info">Télécharger</a>
                {% if project.status == 'EN' %}
                <a href="{% url 'submit_project' project.id %}" class="btn btn-primary">Soumettre</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Liste des projets/devoirs soumis</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Matière</th>
              <th>Statut</th>
              <th>Avis/Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for project in submitted_projects %}
            <tr>
              <td>{{ project.title }}</td>
              <td>{{ project.subject }}</td>
              <td>{{ project.get_status_display }}</td>
              <td>{{ project.feedback }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}